$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);
$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);
$MainFontSize: 18px;
$ThinFontWeight: 400;
$BoldFontWeight: 500;
$MainFontFamily: 'Rubik', sans-serif;